@model project.models.Users.EmailModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container">

    <h4>Confirmation</h4>

<p>Er werd een email gestuurd naar je emailadres</p>

</div>
