@model project.models.Users.EmailModel

@{
    ViewData["Title"] = Localizer["Bevestiging"];
}

<div class="container">

    <h4>@Localizer["Bevestiging"]</h4>

<p>@Localizer["Er werd een email gestuurd naar je emailadres"]</p>

</div>
