@{
    ViewData["Title"] = "Home Page";
}

            <img class="img-fluid no-padding image-style" src="~/images/soccer-banner.jpg" alt="soccer" />

            <div class="container">

                <div class="text-center">
                    <h1 class="display-4">SportShop</h1>
                    <p>Koop hier jouw sportgerief</p>
                </div>

                @if (TempData.ContainsKey("ApiError"))
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ApiError"]
                    </div>
                }

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="~/images/bike-card.jpg" alt="bike" />
                            <div class="card-body">
                                <h5 class="card-title">Bekijk onze fietsen</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie congue magna nec porta. Nullam venenatis ultrices pretium. Donec tempus, mauris ac accumsan gravida, nulla lacus mattis nibh, eu accumsan ligula urna ut orci. </p>
                                <a href="#" class="btn btn-primary">Shop</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="~/images/racket-card.jpg" alt="bike" />
                            <div class="card-body">
                                <h5 class="card-title">Bekijk onze rackets</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie congue magna nec porta.</p>
                                <a href="#" class="btn btn-primary">Shop</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="~/images/shoe-card.jpg" alt="bike" />
                            <div class="card-body">
                                <h5 class="card-title">Bekijk onze voetbalschoenen</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie congue magna nec porta. Nullam venenatis ultrices pretium. Donec tempus, mauris ac accumsan gravida, nulla lacus mattis nibh</p>
                                <a href="#" class="btn btn-primary">Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>